<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="connect-container">
        <div class="contact-links">
            <a href="https://www.linkedin.com/in/holy-agyei-247bab313/" target="_blank" class="linkedin-link">LinkedIn</a>
            <a href="mailto:agyeiholy978@gmail.com" class="email-link">Email Me</a>
        </div>
        <h2 class="info">Contact Information</h2>
        <p class="info">Developer: Holy Agyei</p>
        <p class="info">School: Grambling State University</p>
    </div>
</body>
</html>
